
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="{{description}}">
    <meta name="google-site-verification" content="MVpWdANTTiQ7KiPHDUuD7kuDfrF3DQsbTWtCwa0cMYI" />
    <title>Hoschulsport Köln Crawler! - Angeforderte Seite nicht gefunden </title>
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static',filename='styles/css_reset.css', _external=False) }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/layout.css', _external=False) }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css', _external=False) }}">
</head>

<body class="container">
<article class="dynamic_input">
  <h2 class="headline_of_content">Page Not Found</h2>
  <p>What you were looking for is just not there.
  <p><a href="{{ url_for('index', _external=False) }}">go somewhere nice</a>
</article>
</body>